body {
    background-color: #121212;
    color: #f7f7fb;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Horizontal navbar started */
.hornavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1B;
    padding: 20px;
    padding-right: 20px;
    padding-left: 0;
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar-brand {
    height: auto;
    width: 130px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #2A2A2A;
    border: 1px solid #333;
    border-radius: 50px;
    padding: 5px 15px;
    width: 40vw;
    transition: border 0.3s;
}

.search-container:focus-within {
    border: 1px solid #00FFD5;
}

.search-container input[type="search"] {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    padding: 8px;
    outline: none;
}

.sign-in-btn {
    background-color: #00FFD5;
    padding: 8px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    font-size: 1rem;

}

.sign-in-btn:hover {
    background-color: #00e6c0;
    color: #000;

}

/* responsive sign-in-btn */
@media (max-width: 451px) {
    .sign-in-btn {
        padding: 5px;
    }

}

/* Horizontal navbar ended */

/* vertical navbar started */
.ver-navbar {
    background-color: #1B1B1B;
    height: 89vh;
    border-right: 1px solid #333;
}

.ver-nav-svg {
    padding-left: 5px;
}

.nav-link {
    margin-bottom: 40px;
    color: #636363;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    color: #00FFD5;
}

@media (max-width: 575px) {
    .ver-navbar {
        width: 100%;
        height: auto;
        border-right: none;
        border-top: 1px solid #333;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
    }

    .nav-link {
        margin-bottom: 0;
    }

}

/* vertical navbar ended */
.col-lg-11::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;

}

.div {
    width: 100%;
    padding-top: 30px;
    background-image: url("https://images.unsplash.com/photo-1614662319640-8f7811f7e526?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.MAIN-CONTENT-div {
    width: 60%;
    margin: auto;
    height: 89vh;

}

.heading-main {
    font-size: xx-large;
    color: #00FFD5;
    text-align: center;
}

.content-main {
    width: 80%;
    margin: auto;
}

.name-containar {
    width: 80%;
    margin-top: 70px;
    margin: auto;
    margin-top: 30px;
}

.email-container {
    margin-top: 30px;
}

.sub-heading {
    font-weight: bold;
}

input[type="TEXT"] {
    background-color: #2A2A2A;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
}

input[type="email"] {
    background-color: #2A2A2A;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #fff;

    width: 99%;
    margin-left: 10PX;

}


.btn {
    width: 12vw;
    border-radius: 20px;
    margin: 20px;
    font-size: 17px;
    background-color: #00FFD5;
    font-weight: 600;
}

