body {
    background-color: #121212;
    color: #f7f7fb;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Horizontal navbar started */
.hornavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1B;
    padding: 20px;
    padding-right: 20px;
    padding-left: 0;
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar-brand {
    height: auto;
    width: 130px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #2A2A2A;
    border: 1px solid #333;
    border-radius: 50px;
    padding: 5px 15px;
    width: 40vw;
    transition: border 0.3s;
}

.search-container:focus-within {
    border: 1px solid #00FFD5;
}

.search-container input[type="search"] {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    padding: 8px;
    outline: none;
}

.sign-in-btn {
    background-color: #00FFD5;
    padding: 8px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    font-size: 1rem;

}

.sign-in-btn:hover {
    background-color: #00e6c0;
    color: #000;

}

/* responsive sign-in-btn */
@media (max-width: 451px) {
    .sign-in-btn {
        padding: 5px;
    }

}

/* Horizontal navbar ended */

/* vertical navbar started */
.ver-navbar {
    background-color: #1B1B1B;
    height: 89vh;
    border-right: 1px solid #333;


}

.ver-nav-svg {
    padding-left: 5px;
}

.nav-link {
    margin-bottom: 40px;
    color: #636363;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    color: #00FFD5;
}

/* Responsive vertical navbar */
@media (max-width: 575px) {
    .ver-navbar {
        width: 100%;
        height: auto;
        border-right: none;
        border-top: 1px solid #333;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
    }

    .nav-link {
        margin-bottom: 0;
    }

}


/* vertical navbar ended */

/* content Started */

.col-lg-11::-webkit-scrollbar {
    display: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading {
    margin-left: 30px;
    margin-top: 50px;
}

.cards {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 100px;
}

/* .col-lg-3{padding: 20px;} */
.card {
    width: 100%;
    color: white;
    border-radius: 20px;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.image {
    width: 130px;
    height: 120px;
    position: absolute;
    right: -60px;
    transform: rotate(-45deg);
    border-radius: 20px;
}

.image img {
    width: 100%;
    border-radius: 20px;
    border: 2px solid white;
    height: 100%;
    object-fit: fill;
}

/* Footer started */
.footer {
    width: 100%;
    background-color: #1B1B1B;
    padding: 50PX;
    padding-top: 90px;
    margin: 0;
    padding-right: 10px;
}

ul {
    padding: 0;
    margin-left: 5px;
}

UL LI {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #636363;
}

ul li a:hover {
    color: #00FFD5;
}

.footer-last-part {
    background-color: #121212;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 20px;
    margin: 0;
}

/* Footer ended */