body {
    background-color: #121212;
    color: #f7f7fb;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Horizontal navbar started */
.hornavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1B;
    padding: 20px;
    padding-right: 20px;
    padding-left: 0;
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar-brand {
    height: auto;
    width: 130px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #2A2A2A;
    border: 1px solid #333;
    border-radius: 50px;
    padding: 5px 15px;
    width: 40vw;
    transition: border 0.3s;
}

.search-container:focus-within {
    border: 1px solid #00FFD5;
}

.search-container input[type="search"] {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    padding: 8px;
    outline: none;
}

.sign-in-btn {
    background-color: #00FFD5;
    padding: 8px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    font-size: 1rem;

}

.sign-in-btn:hover {
    background-color: #00e6c0;
    color: #000;

}
/* responsive sign-in-btn */
@media (max-width: 451px) {
    .sign-in-btn {
        padding: 5px;
    }

}

/* Horizontal navbar ended */

/* vertical navbar started */
.ver-navbar {
    background-color: #1B1B1B;
    height: 89vh;
    border-right: 1px solid #333;


}

.ver-nav-svg {
    padding-left: 5px;
}

.nav-link {
    margin-bottom: 40px;
    color: #636363;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    color: #00FFD5;
}

/* Responsive vertical navbar */
@media (max-width: 575px) {
    .ver-navbar {
        width: 100%;
        height: auto;
        border-right: none;
        border-top: 1px solid #333;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
    }

    .nav-link {
        margin-bottom: 0;
    }

}

.col-lg-11::-webkit-scrollbar {
    display: none;
}

/* intro section started */

.intro {
    padding: 30px;
    padding-bottom: 0;

}

.main-img {
    border-radius: 25px;
    height: 250px;

}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro p {
    color: #aaa;
    margin: 10px 0 20px;
}

/* intro section ended */
/* display buttons started */
.display-btn {
    padding: 30px;
    margin-left: 20px;
}

.display-btn-name {
    width: 100px;
    padding: 5px;
    border: 1.5px solid #028f77;
    color: #028f77;
    text-align: center;
    margin-right: 10px;
    border-radius: 20px;

}

.display-btn-name:hover {
    border: 1.5px solid yellow;
    background-color: #028f77;
    color: #fff;
}

/* display buttons ended */
/*  cards started */
.album-card-content,
.artist-card-content,
.ins-card-content {
    font-size: larger;
    text-align: center;
}

.album-card-content,
.artist-card-content,
.event-card-content,
.ins-card-content {
    color: white;
    text-decoration: none;
    animation: slideright 6s ease-out forwards;
}

.album-card-content:hover,
.artist-card-content:hover,
.event-card-content:hover {
    color: white;
    text-decoration: none;
}

.albumcards,
.artistcards,
.eventcards,
.instrumentscards {
    flex-wrap: nowrap;
    overflow-x: auto;
    display: none;
    padding-left: 30px;
    flex-direction: row;
}

.artist-card,
.album-card,
.event-card,
.instrument-card {
    height: auto;
    flex: 0 0 auto;
    width: 220px;
}


.album-img,
.event-img,
.ins-img {
    width: 100%;
    height: 20vh;
    border-radius: 20px;
    animation: slideleft 2s ease-out forwards;
}
@keyframes slideright {
    from{
        opacity: 0;
        transform: translateX(40px);
    }
    to{opacity: 1;
    transform: translateX(0);}

    
}
@keyframes slideleft {
    from{opacity: 0;
    transform: translateX(-40px);}
    to{opacity: 1;
    transform: translateX(0);}
    
}

.artist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-img {
    border-radius: 50%;
    height: 30vh;
    width: 100%;
    animation: slideleft 2s ease-out forwards;
}


.albumcards::-webkit-scrollbar,
.artistcards::-webkit-scrollbar,
.eventcards::-webkit-scrollbar,
.instrumentscards::-webkit-scrollbar {
    display: none;
}



/* card ended */
/* popup started */
.popup {
    width: 50%;
    height: auto;
    background-color: #1c1c1c;
    margin: auto;
    border: 1px solid #00FFD5;
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 25%;
    z-index: 1;
    padding: 50px;
    display: none;
    gap: 18px;
}

.popup-img {
    width: 280px;
}

@media (max-width: 970px) {
    .popup {
        flex-direction: column;
    }

}

.close-btn {
    padding: 10px 20px;
    background-color: #00FFD5;
    border: none;
    border-radius: 5px;
}

/* popup ended */
/* default displayer */
.albumcards {
    display: flex;
}

/* Footer started */
.footer {
    width: 100%;
    background-color: #1B1B1B;
    padding: 50PX;
    padding-top: 90px;
    margin: 0;
    margin-top: 50px;
    padding-right: 10px;
}

ul {
    padding: 0;
    margin-left: 5px;
}

UL LI {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #636363;
}

ul li a:hover {
    color: #00FFD5;
}

.footer-last-part {
    background-color: #121212;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 20px;
    margin: 0;
}

/* Footer ended */