body {
    background-color: #121212;
    color: #f7f7fb;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Horizontal navbar started */
.hornavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1B;
    padding: 20px;
    padding-right: 20px;
    padding-left: 0;
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar-brand {
    height: auto;
    width: 130px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #2A2A2A;
    border: 1px solid #333;
    border-radius: 50px;
    padding: 5px 15px;
    width: 40vw;
    transition: border 0.3s;
}

.search-container:focus-within {
    border: 1px solid #00FFD5;
}

.search-container input[type="search"] {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    padding: 8px;
    outline: none;
}

.sign-in-btn {
    background-color: #00FFD5;
    padding: 8px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    font-size: 1rem;

}

.sign-in-btn:hover {
    background-color: #00e6c0;
    color: #000;

}

/* Horizontal navbar ended */

/* vertical navbar started */
.ver-navbar {
    background-color: #1B1B1B;
    height: 89vh;
    border-right: 1px solid #333;
}

.ver-nav-svg {
    padding-left: 5px;
}

.nav-link {
    margin-bottom: 40px;
    color: #636363;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    color: #00FFD5;
}

/* vertical navbar ended */
.col-11::-webkit-scrollbar {
    display: none;
}